@use "../constants";
@use "../Features/apis-list";

.generateKeyModal,
.keyDetailsModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .inputLine,
  .keyIdLine {
    width: 100%;
    margin-bottom: 15px;
  }

  .inputLine {
    padding: 0 40px;
  }

  .keyIdLine {
    font-size: 14px;
    line-height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      display: inline-block;
      .keyId {
        margin-right: 10px;
        font-weight: normal;
        color: constants.$internalLinkColor;
      }
    }
  }

  .planAccessCarveOut {
    width: auto;
    padding: 10px 40px;
    margin-bottom: 15px;
    border-radius: 2px;
    background: constants.$puddleBlue;
    text-align: center;

    .title {
      margin-right: 5px;
    }
    .title,
    .planName {
      font-size: 22px;
      line-height: 28px;
      color: constants.$defaultColoredText;
      display: inline-block;
      max-width: 100%;
      word-break: break-word;
    }
  }

  .pairHolder {
    display: flex;
    align-items: center;
    gap: 5px;
    color: constants.$juneGrey;
    margin-bottom: 15px;

    margin-top: 5px;
    .textHolder {
      flex-grow: 1;
      input {
        border-radius: constants.$smallBorderRadius;

        border: 1px solid constants.$mayGrey;
        outline: none;
        box-shadow: none;

        height: 25px;
        line-height: 25px;
        padding: 0 6px;

        &::placeholder {
          @extend .filterPlaceholderTexts;
        }
      }
    }
  }

  .customMetadata {
    margin-bottom: 15px;
    text-align: center;
  }

  .addButtonHolder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 34px;

    svg {
      height: 21px;
      width: 21px;

      * {
        fill: constants.$juneGrey;
      }
    }
  }
}
