@use "../constants";

.mantine-Paper-root.mantine-Modal-content {
  border-radius: 15px;
}

// Overrides the Mantine component library's close button styles.
.mantine-Modal-header .mantine-Modal-close {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 5px;
  svg {
    width: 24px;
    height: 24px;
    * {
      fill: #ccd0d5;
    }
  }
}

.modalBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 35px;
  max-width: 425px;

  .modalHeader {
    margin-bottom: 15px;

    svg {
      width: 110px;
      max-height: 110px;
    }
  }
  .modalTitle {
    margin-bottom: 12px;
    font-size: 28px;
    line-height: 38px;
    color: constants.$defaultColoredText;
  }

  .modalBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
