@use "../constants";

.apiDetailsHeaderAddition {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 18px;

  > div {
    display: flex;
    align-items: center;
    margin-right: 25px;

    svg {
      width: 23px;
      height: 23px;
      margin-right: 8px;

      * {
        fill: constants.$primaryColor;
      }
    }
  }
}
