@use "../constants";
@use "../container";

.apiUsagePlansList {
  margin-bottom: 30px;
  padding: 0 30px;

  .apiUsagePlanCard {
    width: 100%;
    border-radius: constants.$smallBorderRadius;
    box-shadow: 0px 2px 8px constants.$darkGreyTransparent;
    border: 1px solid constants.$puddleBlue;

    .apiHeader {
      display: flex;
      align-items: center;
      border-radius: constants.$smallBorderRadius constants.$smallBorderRadius 0
        0;
      height: 128px;
      padding: 0 22px;
      background: constants.$lightGreyTransparent;
      cursor: pointer;

      .leadIconHolder {
        display: flex;
        align-items: center;
        padding-right: 20px;

        svg {
          width: 60px;
          height: 60px;
        }
      }

      .apiDetails {
        display: flex;
        align-items: center;
        flex: 1;
        min-width: 250px;
        height: 100%;
        padding: 18px 0 26px;
        margin-right: 30px;

        &:before,
        &:after {
          content: "";
          height: 100%;
          width: 1px;
          background: constants.$puddleBlue;
        }
        &:before {
          margin-right: 25px;
        }
        &:after {
          margin-left: 40px;
        }

        .title {
          margin-top: 5px;
          margin-bottom: 10px;

          font-size: 22px;
          line-height: 28px;
          font-weight: 500;
          color: constants.$defaultColoredText;
        }
        .description {
          font-size: 16px;
          line-height: 22px;
          font-weight: 400;
          color: constants.$juneGrey;

          max-height: 55px;
          overflow-y: auto;
        }
      }

      .metaDetails {
        position: relative;
        display: flex;
        align-items: center;
        padding-left: 20px;

        .metaDetail {
          display: flex;
          align-items: center;
          color: constants.$defaultColoredText;

          &:nth-of-type(2) {
            margin-left: 50px;
          }

          .metaDetailIcon {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 42px;
            width: 42px;
            height: 42px;
            margin-right: 12px;
            background: constants.$defaultColoredText;

            svg {
              width: 24px;
              height: 24px;

              * {
                fill: white;
              }
            }
          }

          .countNumber {
            font-weight: 600;
            margin-right: 5px;
          }
        }
      }

      .viewToggleArrowHolder {
        margin-left: 35px;

        svg {
          width: 24px;
        }
      }
    }

    .usagePlansList {
      background: white;

      overflow: hidden;
      &.hidden {
        max-height: 0;
      }
      &.showing {
        max-height: 1000px;
        overflow: auto;
      }

      .usagePlansListContent {
        margin: 20px;

        .usagePlanDetails {
          margin-bottom: 20px;

          &:last-of-type {
            margin-bottom: 0;
          }

          .planHeader {
            display: flex;
            align-items: center;
            justify-content: space-between;

            > div {
              display: flex;
              align-items: center;
            }
            .planName {
              margin-right: 8px;
              text-transform: capitalize;
            }
            .planRate {
              font-size: 16px;
              line-height: 20px;
              color: constants.$juneGrey;
            }
          }
        }
      }
    }

    .apiFooter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 25px;
      height: 43px;
      border-radius: 0 0 constants.$smallBorderRadius
        constants.$smallBorderRadius;

      background: constants.$puddleBlue;

      .metaInfo {
        display: flex;
        align-items: center;

        svg {
          margin-right: 10px;
          width: 20px;
          height: 20px;

          * {
            fill: constants.$primaryColor;
          }
        }

        .typeTitle {
          @extend .primaryTrimmedSmallWhiteContainer;

          font-size: 14px;
          line-height: 22px;
        }
      }
      .typeIcon {
        display: flex;
        align-items: center;

        svg {
          width: 28px;
          height: 28px;

          * {
            fill: constants.$primaryColor;
          }
        }
      }
    }
  }
}
