@use "../constants";
@use "../button";

/*
*   EXPLANATION OF TAGS, CLASSNAMES, AND VARIOUS ref HOOKS
      Redocly generates the class names for its display. We have
      tried to hook on to obvious, easy-to-read classes where possible
      -while also trying to use as little page-structure 
       info where possible- as these are the most likely to change
       across versions.
      
    Unfortunately, the 6-letter-combination classes seem to be
      version dependent. -- FOR THIS REASON: If the Redoc version
      is changed from what was in the repo on latest download, it may be
      necessary to rediscover the hook names yourself.
    We will be striving to find better, more 
      consistent hooks to latch styling on to as we move forward.

    Note, depending on how fine grain styling is desired, some of these
      could be set with the Redoc theme option: 
      https://github.com/Redocly/redoc/blob/main/src/theme.ts
    This option was not as fine grain as we desired, but is an excellent
      and less fragile alternative.
*/

.redocDisplayContainer {
  border: 1px solid constants.$puddleBlue;
  border-radius: constants.$smallBorderRadius;
  width: 100%;
  margin-bottom: 40px;

  .redoc-wrap {
    /***
    * LEFT AREA
    ***/
    .menu-content {
      background: constants.$marchGrey;

      // THE SEARCH BAR, SEARCH INPUT, and MAGNIFYING GLASS
      div[role="search"] {
        position: relative;
        margin-top: 10px;
        padding: 0px;

        input {
          border-radius: constants.$smallBorderRadius;
          height: 34px;
          line-height: 34px;
          padding: 0 13px;
          margin-bottom: 10px;

          font-size: 18px;
          font-weight: normal;
          color: black;
          background: white;

          &::placeholder {
            color: constants.$juneGrey;
          }
        }

        i {
          display: none;
        }
        svg {
          pointer-events: none;
          left: auto;
          right: 28px;
          top: 23px;
          margin-top: -15px;
          width: 18px;
          height: 18px;

          path {
            fill: constants.$juneGrey;
          }
        }

        // SEARCH RESULTS AREA & RELATED SCROLLBAR
        > div.scrollbar-container {
          margin-top: 10px;
        }
        > div.scrollbar-container,
        div[data-role="search:results"] {
          min-height: 45px;
          padding: 0px;
          margin: 0px;
          background-color: constants.$marchGrey;
          li {
            background: white;
            flex-basis: 100%;
            label {
              padding: 15px 10px;
            }
            border: 1px solid constants.$marchGrey;
            &:not(:last-of-type) {
              border-bottom: none;
            }
          }
        }
        > div[data-role="search:results"] {
          text-align: center;
          margin-top: 5px;
          margin-bottom: -10px;
        }
      }

      li {
        border-top: 1px solid darken(constants.$marchGrey, 3);
      }
      .scrollbar-container > ul > li {
        border-top: 1px solid darken(constants.$marchGrey, 5);
        &:last-of-type {
          border-bottom: 1px solid darken(constants.$marchGrey, 5);
        }
        ul {
          background-color: lighten(constants.$marchGrey, 5);
        }
      }

      // LABELS, typically of METHOD NAMES
      li > label {
        // When this is the active list item.
        border-left: 4px solid transparent;
        &.active {
          border-left: 4px solid constants.$primaryColor;
        }

        // Keep background-color interaction.
        background-color: transparent;
        &:hover {
          background-color: darken(constants.$marchGrey, 5);
        }
        &:active {
          background-color: darken(constants.$marchGrey, 10);
        }

        .operation-type {
          border-radius: constants.$smallBorderRadius;

          margin-top: 0;
          width: 58px;
          min-width: 58px;
          height: 24px;
          line-height: 24px;

          font-size: 14px;
          font-weight: 600;

          &.delete {
            background-color: constants.$deleteAction;
          }
          &.get {
            background-color: constants.$getAction;
          }
          &.hook {
            background-color: constants.$eventAction;
          }
          &.post {
            background-color: constants.$postAction;
          }
          &.put {
            background-color: constants.$putAction;
          }

          &.options,
          &.patch,
          &.basic,
          &.link,
          &.head {
            background-color: constants.$defaultAction;
          }
        }

        > span:last-of-type {
          font-size: 18px;
          line-height: 22px;
          color: constants.$apiDocumentationText;
        }
      }
    }

    /***
    * SECOND (usually MIDDLE) THIRD
    ***/
    .api-content {
      background: white;
      border-radius: 0 constants.$smallBorderRadius constants.$smallBorderRadius
        0;

      // DOWNLOAD BUTTON? (this seems to change by version)
      .ilacoL {
        @extend .styledButton;
        height: 26px;
        line-height: 26px;
      }

      // METHOD TAGS
      span[type="primary"] {
        background-color: constants.$royalPurple;
      }
      span[type="warning"] {
        background-color: constants.$pumpkinOrange;
        font-size: 14px;
      }

      // TABLE OF METHOD PARAMETER INFORMATION
      table {
        font-size: 16px;

        // "required" tags
        .eIjWpQ {
          font-size: 16px;
          color: constants.$midRed;
        }
        // "recursive" and other informatic tags
        .ibAyvN {
          font-size: 16px;
          color: constants.$darkYellow;
          text-transform: lowercase;
        }

        // 2nd column in table, PARAMETER DESCRIPTIONS
        tr > td:last-of-type,
        tr > td:last-of-type span {
          line-height: 22px;
        }

        button,
        span {
          font-size: 16px;
        }

        span.iDFogX {
          display: inline-block;
          height: 21px;
          line-height: 21px;
          padding: 0 10px;
          border-radius: 13px;

          font-size: 12px;
          color: constants.$primaryColor;
          border-color: constants.$primaryColor;
        }
      }

      // Example area type buttons
      .faCWDf button > span {
        border-radius: constants.$smallBorderRadius;
        padding: 0;
        width: 58px;
        height: 24px;
        line-height: 24px;
        font-size: 14px;
        font-weight: 600;
        text-align: center;

        &.delete {
          background-color: constants.$deleteAction;
        }
        &.get {
          background-color: constants.$getAction;
        }
        &.hook {
          background-color: constants.$eventAction;
        }
        &.post {
          background-color: constants.$postAction;
        }
        &.put {
          background-color: constants.$putAction;
        }

        &.options,
        &.patch,
        &.basic,
        &.link,
        &.head {
          background-color: constants.$defaultAction;
        }
      }

      // Payload button
      .loHuJX > ul > li {
        height: 40px;
        line-height: 40px;
        padding: 0 10px;

        &.react-tabs__tab--selected {
          color: constants.$primaryColor;
        }
        &.tab-success {
          color: constants.$darkGreen;
        }
        &.tab-error {
          color: constants.$darkRed;
        }
      }

      // RESPONSE CALLOUTS
      .iDYSTN,
      .GIvIp {
        border-radius: constants.$smallBorderRadius;
        line-height: 22px;
      }
      // FAILURES
      .iDYSTN {
        background: constants.$lightRed;
        border: 1px solid constants.$midRed;
        color: constants.$midRed;
      }
      // SUCCESSES
      .GIvIp {
        background: constants.$lightGreen;
        border: 1px solid constants.$darkGreen;
        color: constants.$darkGreen;
      }
    }

    .fburAk {
      display: none;
    }
  }

  button.sc-eGFuAX {
    margin-top: 10px;
    border-radius: 0px;
  }
  a,
  button:not(:disabled),
  [role="tablist"] li {
    outline-offset: 2px;
    &:hover,
    &:focus-visible {
      outline: 1px solid constants.$primaryColor;
    }
    &:active {
      outline: 2px solid constants.$primaryColor;
      box-shadow: 0 0 5px constants.$primaryColor;
    }
  }
}
