@use "./constants";
@use "./mixins";

.breadcrumbList {
  @include mixins.contentWidth();
  padding-top: 20px;
  padding-bottom: 5px;
  min-height: 51px;

  display: flex;
  align-items: center;
  gap: 10px;
  a.breadcrumbItem {
    color: constants.$juneGrey;
    &:hover,
    &:focus-visible {
      color: darken(constants.$juneGrey, 10);
      text-decoration: underline;
    }
    &:active {
      color: darken(constants.$juneGrey, 30);
      text-decoration: underline;
    }
  }
  div.breadcrumbItem {
    color: constants.$oceanBlue;
  }
}

.widerContent .breadcrumbList {
  @include mixins.contentWidth(constants.$largeContentWidth);
  padding-top: 15px;
}
