// Example variable
$dummyVar: 0 !default;

/** 
* SIZING
**/
$normalContentWidth: 1385px !default;
$largeContentWidth: 1920px !default;

$standardBorderRadius: 15px !default;
$smallBorderRadius: 4px !default;

/** 
* COLORS
**/
$januaryGrey: #f0f5f7;
$marchGrey: #e9eef3;
$mayGrey: #d4d8de;
$juneGrey: #8693a5;
$augustGrey: #6e7477;
$octoberGrey: #35393b;

$lightGreyTransparent: #ccd4db21;
$midGreyTransparent: #253e580b;
$darkGreyTransparent: #253e5812;
$blackTransparent: #00000026;

$greyOpaque: #8693a5a2;
$greyBlueOpaque: #253e58cc;

$dropBlue: #f8fafb;
$puddleBlue: #dbe4ec;
$pondBlue: #55b8e3;
$lakeBlue: #158bc2;
$seaBlue: #45698a;
$oceanBlue: #325476;
$neptuneBlue: #253e58;

$lightGreen: #ebfff9;
$midGreen: #0dce93;
$darkGreen: #0fac7c;

$royalPurple: #7e4bc6;

$lightRed: #fff7f7;
$midRed: #bf0a17;
$darkRed: #a23f3a;

$pumpkinOrange: #d75b1d;

$lightYellow: #fff6e5;
$midYellow: #ffb831;
$darkYellow: #c98709;

// FUNCTIONAL COLORS -- overridable in _constants.scss
// Site wide
$modalBack: $greyBlueOpaque !default;
$primaryColor: $lakeBlue !default;
$secondaryColor: $oceanBlue !default;
$backgroundColor: $dropBlue !default;
$defaultText: $octoberGrey !default;
$defaultColoredText: $neptuneBlue !default;
$iconsColor: $lakeBlue !default;
$internalLinkColor: $lakeBlue !default;
$externalLinkColor: $neptuneBlue !default;

// Api (Redoc/Swagger) Display
$defaultAction: $oceanBlue !default;
$deleteAction: $midRed !default;
$eventAction: $royalPurple !default;
$getAction: $lakeBlue !default;
$postAction: $darkGreen !default;
$putAction: $pumpkinOrange !default;
$apiDocumentationText: $neptuneBlue !default;
