/* 
 
* Light Theme * 
 
*/
:root,
[data-theme="light"][data-color="green"],
[data-theme="light"][data-color="green"] .sl-inverted,
[data-theme="light"][data-color="green"] .sl-inverted .sl-inverted,
[data-theme="light"][data-color="green"] .sl-inverted .sl-inverted .sl-inverted,
[data-theme="light"][data-color="green"]
  .sl-inverted
  .sl-inverted
  .sl-inverted
  .sl-inverted {
  --text-h: 0;
  --text-s: 0%;
  --text-l: 15%;
  --shadow-sm: 0px 0px 1px rgba(67, 90, 111, 0.3);
  --shadow-md: 0px 2px 4px -2px rgba(0, 0, 0, 0.25),
    0px 0px 1px rgba(67, 90, 111, 0.3);
  --shadow-lg: 0 4px 17px rgba(67, 90, 111, 0.2), 0 2px 3px rgba(0, 0, 0, 0.1),
    inset 0 0 0 0.5px var(--color-canvas-pure), 0 0 0 0.5px rgba(0, 0, 0, 0.2);
  --shadow-xl: 0px 0px 1px #435a6f4d, 0px 8px 10px -4px rgba(67, 90, 111, 0.45);
  --shadow-2xl: 0px 0px 1px rgba(67, 90, 111, 0.3),
    0px 16px 24px -8px rgba(67, 90, 111, 0.45);
  --drop-shadow-default1: 0 0 0.5px rgba(0, 0, 0, 0.6);
  --drop-shadow-default2: 0 2px 5px rgba(67, 90, 111, 0.3);
  --color-text-heading: hsla(
    var(--text-h),
    var(--text-s),
    max(3, calc(var(--text-l) - 15)),
    1
  );
  --color-text: hsla(var(--text-h), var(--text-s), var(--text-l), 1);
  --color-text-paragraph: hsla(
    var(--text-h),
    var(--text-s),
    var(--text-l),
    0.9
  );
  --color-text-muted: hsla(var(--text-h), var(--text-s), var(--text-l), 0.7);
  --color-text-light: hsla(var(--text-h), var(--text-s), var(--text-l), 0.55);
  --color-text-disabled: hsla(var(--text-h), var(--text-s), var(--text-l), 0.3);
  --canvas-h: 218;
  --canvas-s: 40%;
  --canvas-l: 100%;
  --color-canvas: hsla(var(--canvas-h), var(--canvas-s), var(--canvas-l), 1);
  --color-canvas-dark: #000;
  --color-canvas-pure: #fff;
  --color-canvas-tint: hsla(116, 33%, 97%, 0.5);
  --color-canvas-50: hsl(116, 33%, 97%);
  --color-canvas-100: hsl(122, 33%, 94%);
  --color-canvas-200: hsl(117, 35%, 91%);
  --color-canvas-300: hsl(118, 35%, 88%);
  --color-canvas-400: hsl(119, 37%, 85%);
  --color-canvas-500: hsl(117, 37%, 82%);
  --color-canvas-dialog: #fff;
  --color-border-dark: hsla(var(--canvas-h), 30%, 72%, 0.5);
  --color-border: hsla(var(--canvas-h), 32%, 78%, 0.5);
  --color-border-light: hsla(var(--canvas-h), 24%, 84%, 0.5);
  --color-border-input: hsla(var(--canvas-h), 24%, 72%, 0.8);
  --color-border-button: hsla(var(--canvas-h), 24%, 20%, 0.65);
  --primary-h: 202;
  --primary-s: 100%;
  --primary-l: 55%;
  --color-text-primary: hsl(102, 100%, 20%);
  --color-primary-dark: hsl(102, 80%, 27%);
  --color-primary-darker: hsl(102, 80%, 16%);
  --color-primary: hsl(102, 100%, 35%);
  --color-primary-light: hsl(102, 100%, 46%);
  --color-primary-tint: hsla(102, 100%, 65%, 0.25);
  --color-on-primary: #fff;
  --success-h: 156;
  --success-s: 95%;
  --success-l: 37%;
  --color-text-success: #05c779;
  --color-success-dark: #138b5b;
  --color-success-darker: #0f6c47;
  --color-success: #05b870;
  --color-success-light: #06db86;
  --color-success-tint: rgba(81, 251, 183, 0.25);
  --color-on-success: #fff;
  --warning-h: 20;
  --warning-s: 90%;
  --warning-l: 56%;
  --color-text-warning: #c2470a;
  --color-warning-dark: #d35d22;
  --color-warning-darker: #9e461a;
  --color-warning: #f46d2a;
  --color-warning-light: #f7925f;
  --color-warning-tint: rgba(246, 139, 85, 0.25);
  --color-on-warning: #fff;
  --danger-h: 0;
  --danger-s: 84%;
  --danger-l: 63%;
  --color-text-danger: #bc1010;
  --color-danger-dark: #d83b3b;
  --color-danger-darker: #af2323;
  --color-danger: #f05151;
  --color-danger-light: #f58e8e;
  --color-danger-tint: rgba(241, 91, 91, 0.25);
  --color-on-danger: #fff;
  color: var(--color-text);
}

/* 
 
* Dark Theme * 
 
*/
[data-theme="dark"][data-color="green"],
[data-theme="dark"][data-color="green"] .sl-inverted,
[data-theme="dark"][data-color="green"] .sl-inverted .sl-inverted,
[data-theme="dark"][data-color="green"] .sl-inverted .sl-inverted .sl-inverted,
[data-theme="dark"][data-color="green"]
  .sl-inverted
  .sl-inverted
  .sl-inverted
  .sl-inverted {
  --text-h: 0;
  --text-s: 0%;
  --text-l: 86%;
  --shadow-sm: 0px 0px 1pxrgba (11, 13, 19, 0.5);
  --shadow-md: 0px 2px 4px -2pxrgba (0, 0, 0, 0.35),
    0px 0px 1px rgba(11, 13, 19, 0.4);
  --shadow-lg: 0 2px 14pxrgba (0, 0, 0, 0.55),
    0 0 0 0.5px hsla(0, 0%, 100%, 0.2);
  --shadow-xl: 0px 0px 1pxrgba (11, 13, 19, 0.4),
    0px 8px 10px -4px rgba(11, 13, 19, 0.55);
  --shadow-2xl: 0px 0px 1pxrgba (11, 13, 19, 0.4),
    0px 16px 24px -8px rgba(11, 13, 19, 0.55);
  --drop-shadow-default1: 0 0 0.5pxhsla (0, 0%, 100%, 0.5);
  --drop-shadow-default2: 0 3px 8pxrgba (0, 0, 0, 0.6);
  --color-text-heading: hsla(
    var(--text-h),
    var(--text-s),
    max(3, calc(var(--text-l) - 15)),
    1
  );
  --color-text: hsla(var(--text-h), var(--text-s), var(--text-l), 1);
  --color-text-paragraph: hsla(
    var(--text-h),
    var(--text-s),
    var(--text-l),
    0.9
  );
  --color-text-muted: hsla(var(--text-h), var(--text-s), var(--text-l), 0.7);
  --color-text-light: hsla(var(--text-h), var(--text-s), var(--text-l), 0.55);
  --color-text-disabled: hsla(var(--text-h), var(--text-s), var(--text-l), 0.3);
  --canvas-h: 118;
  --canvas-s: 32%;
  --canvas-l: 5%;
  --color-canvas: hsla(var(--canvas-h), var(--canvas-s), var(--canvas-l), 1);
  --color-canvas-dark: #000;
  --color-canvas-pure: #0c1018;
  --color-canvas-tint: hsla(118, 26%, 32%, 0.2);
  --color-canvas-50: hsl(118, 26%, 12%);
  --color-canvas-100: hsl(118, 27%, 10%);
  --color-canvas-200: hsl(119, 28%, 8%);
  --color-canvas-300: hsl(117, 30%, 6%);
  --color-canvas-400: hsl(119, 30%, 3%);
  --color-canvas-500: hsl(118, 31%, 2%);
  --color-canvas-dialog: hsl(118, 27%, 24%);
  --color-border-dark: hsla(var(--canvas-h), 24%, 23%, 0.5);
  --color-border: hsla(var(--canvas-h), 26%, 28%, 0.5);
  --color-border-light: hsla(var(--canvas-h), 19%, 34%, 0.5);
  --color-border-input: hsla(var(--canvas-h), 19%, 30%, 0.8);
  --color-border-button: hsla(var(--canvas-h), 19%, 80%, 0.65);
  --primary-h: 202;
  --primary-s: 90%;
  --primary-l: 51%;
  --color-text-primary: #66c7ff;
  --color-primary-dark: #1f83bd;
  --color-primary-darker: #186491;
  --color-primary: #12a0f3;
  --color-primary-light: #42b3f5;
  --color-primary-tint: rgba(85, 187, 246, 0.25);
  --color-on-primary: #fff;
  --success-h: 156;
  --success-s: 95%;
  --success-l: 67%;
  --color-text-success: #41f1ab;
  --color-success-dark: #47dca0;
  --color-success-darker: #24bc7f;
  --color-success: #62f3b9;
  --color-success-light: #a0f8d5;
  --color-success-tint: rgba(89, 243, 181, 0.25);
  --color-on-success: #fff;
  --warning-h: 20;
  --warning-s: 90%;
  --warning-l: 50%;
  --color-text-warning: #ec7d46;
  --color-warning-dark: #b55626;
  --color-warning-darker: #8b421d;
  --color-warning: #e75d18;
  --color-warning-light: #ec7d46;
  --color-warning-tint: rgba(238, 142, 93, 0.25);
  --color-on-warning: #fff;
  --danger-h: 0;
  --danger-s: 84%;
  --danger-l: 43%;
  --color-text-danger: #e74b4b;
  --color-danger-dark: #972626;
  --color-danger-darker: #721d1d;
  --color-danger: #c11a1a;
  --color-danger-light: #e22828;
  --color-danger-tint: rgba(234, 98, 98, 0.25);
  --color-on-danger: #fff;
  color: var(--color-text);
}
