@use "./constants";

button.gridListToggle {
  background: inherit;
  border: none;
  padding: 4px;
  margin: 0;
  height: 32px;
  width: 32px;
  border-radius: 4px;
  svg {
    width: 22px;
    height: 22px;
    * {
      fill: constants.$seaBlue;
    }
  }
  border: 1px solid transparent;
  &:hover {
    background-color: constants.$puddleBlue;
  }
  &:active {
    background-color: darken(constants.$puddleBlue, 10);
    svg * {
      fill: constants.$oceanBlue;
    }
  }
}
