@use "./constants";

.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .loadingSpinner {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 180px;

    .chasePlate {
      position: absolute;
      border-radius: 50%;
      border-style: solid;
      animation: animate 3s linear infinite;

      &.outer {
        width: 100%;
        height: 100%;
        color: constants.$primaryColor;
        border-color: currentColor transparent transparent currentColor;
        border-width: 0.2em 0.2em 0em 0em;
        --deg: -45deg;
        animation-direction: normal;
      }

      &.inner {
        width: 65%;
        height: 65%;
        color: constants.$secondaryColor;
        border-color: currentColor currentColor transparent transparent;
        border-width: 0.2em 0em 0em 0.2em;
        --deg: -135deg;
        animation-direction: reverse;
      }

      .circle {
        position: absolute;
        width: 50%;
        height: 0.1em;
        top: 50%;
        left: 50%;
        background-color: transparent;
        transform: rotate(var(--deg));
        transform-origin: left;
      }

      .circle::before {
        position: absolute;
        top: -0.5em;
        right: -0.5em;
        content: "";
        width: 1em;
        height: 1em;
        background-color: currentColor;
        border-radius: 50%;
        box-shadow: 0 0 2em, 0 0 4em, 0 0 6em, 0 0 8em, 0 0 10em,
          0 0 0 0.5em rgba(255, 255, 0, 0.1);
      }
    }
  }

  .loadingMessage {
    padding-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;

    color: constants.$defaultColoredText;
  }
}

.errorDisplayContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  color: constants.$darkRed;

  svg {
    width: 200px;
    height: 200px;
    max-width: 50%;

    * {
      fill: currentColor;
    }
  }

  .errorMessage {
    padding-top: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
  }
}
@keyframes animate {
  to {
    transform: rotate(1turn);
  }
}
