@use "./mixins";
@use "./constants";

.topNav {
  grid-area: header;

  width: 100%;
  height: 90px;

  background: white;
  box-shadow: #253e580b 0px 2px 8px;
}

.navContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  user-select: none;

  height: 100%;
  @include mixins.contentWidth();

  color: constants.$defaultText;

  .logoContainer {
    display: flex;
    align-items: center;
    margin-left: -12px;
    padding: 0 12px;
    width: auto;
    height: 100%;
  }

  .siteNavigating {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    gap: 5px;

    a.navLink {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 0px 12px;
      cursor: pointer;

      color: constants.$externalLinkColor;
      border-bottom: 4px solid white;
      transition: background-color 0.25s, border-bottom-color 0.25s, color 0.25s;
      &.active,
      &.active:hover,
      &.active:active {
        color: constants.$internalLinkColor;
        border-bottom-color: constants.$internalLinkColor;
      }
    }

    .divider {
      height: 33px;
      width: 1px;
      background: constants.$puddleBlue;
    }
  }

  .userLoginArea {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 12px;
    margin-right: -12px;

    .userHolder {
      display: flex;
      align-items: center;
      color: constants.$defaultColoredText;

      svg.userCircle {
        width: 40px;
        height: 40px;
        margin-right: 10px;

        * {
          fill: currentColor;
        }
      }

      svg.dropdownArrow {
        width: 14px;
        margin-left: 10px;
        * {
          stroke: currentColor;
          stroke-width: 2;
        }
      }
    }
  }

  .userLoginArea.loggedIn,
  .logoContainer,
  .siteNavigating a.navLink {
    cursor: pointer;
    &:hover {
      color: darken(constants.$internalLinkColor, 10);
      background-color: lighten(constants.$puddleBlue, 9);
      border-bottom-color: constants.$puddleBlue;
    }
    &:active {
      color: darken(constants.$internalLinkColor, 10);
      background-color: lighten(constants.$puddleBlue, 7);
      border-bottom-color: constants.$puddleBlue;
    }
  }
}

.widerContent .navContent {
  @include mixins.contentWidth(constants.$largeContentWidth);
}

.userDropdown {
  white-space: nowrap;
  a,
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 18px;
    line-height: 35px;
    cursor: pointer;
    border-left: 6px solid transparent;
    border-bottom: 0px solid transparent !important;

    &:hover {
      border-left-color: constants.$internalLinkColor;
    }

    &:first-child {
      border-top-left-radius: 2px;
    }
    &:last-child {
      border-bottom-left-radius: 2px;
    }
  }

  div.disabled {
    background: rgba(50, 50, 50, 0.4);
    color: constants.$juneGrey;
    border-left-color: constants.$juneGrey;
    cursor: default;
  }
}
