@use "./background";
@use "./button";
@use "./container";
@use "./links";
@use "./green-theme";

@use "./banner";
@use "./redoc";
@use "./topnav";

@use "./Features/api-details";

//
// Makes code snippets visible in dark mode
//
[data-theme="dark"] .token {
  color: white !important;
}

* {
  font-family: "Proxima Nova", "Open Sans", "Helvetica", "Arial", "sans-serif" !important;
  box-sizing: border-box;
}
